MONGO_DATABASE=     # Database name
MONGO_USER=         # User name, can use the admin user
MONGO_PASSWORD=     # Password for the user
MONGO_CLUSTER=      # Connection string from cluster till .mongodb.net (get this from Atlas > Cluster > Connect > Shell)