# MongoDB
MONGO_DATABASE=         # Name of the Database
MONGO_USER=             # Database Access Username
MONGO_PASSWORD=         # Database Access Password
MONGO_CLUSTER=          # Atlas > Clusters > Connect > Shell. Copy the connection string from cluster name till mongodb.net

# JWT
JWT_SECRET_KEY=         # 64 byte Base64 encoded string - generated using : com._2.BookIt.Util.JwtSecretKeyGenerator.java
JWT_EXPIRATION=         # Time in milliseconds for JWT token expiration

# Email
EMAIL_API_KEY=          # API key from SendGrid